/* Reset some basic elements for better consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem;
    background: #f9f9f9;
    min-height: 60vh;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    max-width: 600px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}


/* About Section */
.about-section {
    padding: 4rem 2rem;
    background: #f9f9f9;
    text-align: center;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.about-section p {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.about-section a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.about-section a:hover {
    text-decoration: underline;
}

a.resume-link { 
    font-size: 1.25em; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Keep the color (or adjust to your preference) */
    text-decoration: none; /* Remove underline for a cleaner look */
}




/* Projects */
.projects-section {
    padding: 4rem 2rem;
    background: #f9f9f9;
    text-align: center;
}

.projects-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.projects-section p {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.projects-section a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.projects-section a:hover {
    text-decoration: underline;
}



/* Contact Section */
.contact-section {
    padding: 4rem 2rem;
    background: #f0f0f0;
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.contact-section p {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.contact-section a {
    color: #333;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}